.headingContainer{
    text-align: center;
    color: black;
    padding: 50px;
    height: 200px;
    border: 2px solid;
    margin: 10px;
    background-image: url('/NursingHomePic.jpg');
    background-position: bottom;
}
.heading{
    margin-top: 200px;
    text-shadow: 2px 2px sandybrown;
}

body{
    background-color: aqua;
    
}